<template>
  <div>
    <Layout>
      <h1 class="text-2xl font-semibold mb-4">Welcome to Rawat Jalan</h1>
      <!-- Add content specific to this page -->
    </Layout>
  </div>
</template>

<script>
import Layout from '/Users/sofan/Development/frontend/new-adameds/layouts/default.vue';
export default {
  name: 'IndexPage',
  components: {Layout}
};
</script>

<style scoped>
/* Add any additional styling if necessary */
</style>
