<template>
  <footer class="bg-teal-500 rounded-t-lg mx-1 mt-2 text-white p-4">
    <div class="flex flex-col sm:flex-row justify-between items-center">
      <div class="flex flex-col sm:flex-row items-center sm:justify-start flex-grow">
        <span class="mb-2 sm:mb-0 sm:mr-2">&copy; ADAMEDS 2023</span>
        <span class="hidden sm:inline">|</span>
        <span class="mb-2 sm:mb-0 sm:ml-2 sm:mr-2">Powered by PT. Wahana Meditek Indonesia</span>
        <span class="hidden sm:inline">|</span>
        <span class="sm:ml-2">Authorized Distributor by PT. Wahana Rizky Gumilang</span>
      </div>
      <span class="bg-white text-teal-600 p-1 rounded-xl mt-2 sm:mt-0">Klinik Demo Adameds</span>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style scoped>
/* Add any additional styling if necessary */
</style>
