<template>
    <header class="bg-teal-500 mx-1 mt-2 p-4 flex items-center rounded-lg justify-between">
      <div class="flex items-center">
        <span class="text-xl font-semibold text-white">IHC</span>
      </div>
      <div class="flex items-center">
        <button class="text-white mr-4 lg:hidden" @click="toggleMenu">
          <span class="material-icons">menu</span>
        </button>
        <div :class="['flex items-center', { 'hidden lg:flex': !isMenuOpen }]">
          <button class="text-white mr-4">
            <span class="material-icons">notifications</span>
          </button>
          <button class="text-white">
            <span class="material-icons">account_circle</span>
          </button>
        </div>
      </div>
    </header>
    <div v-if="isMenuOpen" class="bg-teal-500 p-4 lg:hidden">
      <button class="text-white w-full text-left mb-2">
        <span class="material-icons">notifications</span> Notifications
      </button>
      <button class="text-white w-full text-left">
        <span class="material-icons">account_circle</span> Account
      </button>
    </div>
  </template>
  
  <script>
  export default {
    name: 'Header',
    data() {
      return {
        isMenuOpen: false,
      };
    },
    methods: {
      toggleMenu() {
        this.isMenuOpen = !this.isMenuOpen;
      },
    },
  };
  </script>
  
  <style scoped>
  /* Add any additional styling if necessary */
  </style>
  