<template>
    <main class="w-4/5 p-8">
      <nuxt />
    </main>
  </template>
  
  <script>
  export default {
    name: 'MainContent',
  };
  </script>
  
  <style scoped>
  /* Add any additional styling if necessary */
  </style>
  