<template>
    <div>
      <!-- Sidebar -->
      <aside :class="['bg-teal-500 p-4 mx-1 rounded-lg flex flex-col justify-between h-full fixed lg:relative z-50 transition-all duration-300', { 'w-64': isExpanded, 'w-20': !isExpanded, 'hidden lg:flex': !isSidebarOpen }]">
        <div>
          <div class="flex justify-between items-center mb-4">
            <h2 v-if="isExpanded" class="text-white text-xl transition-opacity duration-300">Admisi</h2>
            <button @click="toggleSidebar" class="text-white">
                <img src="/Users/sofan/Development/frontend/new-adameds/assets/icon/Icons/icon=grid.png" alt="" srcset="">
              <!-- <span class="material-icons">{{ isExpanded ? 'chevron_left' : 'menu' }}</span> -->
            </button>
          </div>
          <hr class="border-gray-200" />
          <nav>
            <ul>
              <li class="mb-4">
                <nuxt-link to="/" class="flex items-center text-white hover:bg-teal-600 p-2 rounded">
                    <img src="/Users/sofan/Development/frontend/new-adameds/assets/icon/Icons/icon=add-patient.png" class="mr-2" alt="" srcset="">
                  <span v-if="isExpanded" class="transition-opacity duration-300">Rawat Jalan</span>
                </nuxt-link>
              </li>
              <li class="mb-4">
                <nuxt-link to="/inap" class="flex items-center text-white hover:bg-teal-600 p-2 rounded">
                    <img src="/Users/sofan/Development/frontend/new-adameds/assets/icon/Icons/icon=add-patient.png" class="mr-2" alt="" srcset="">
                  <span v-if="isExpanded" class="transition-opacity duration-300">Rawat Inap</span>
                </nuxt-link>
              </li>
              <li class="mb-4">
                <nuxt-link to="/igd" class="flex items-center text-white hover:bg-teal-600 p-2 rounded">
                    <img src="/Users/sofan/Development/frontend/new-adameds/assets/icon/Icons/icon=add-patient.png" class="mr-2" alt="" srcset="">
                  <span v-if="isExpanded" class="transition-opacity duration-300">IGD</span>
                </nuxt-link>
              </li>
              <hr class="border-gray-200" />
              <li class="mb-4">
                <div @click="toggleSepDropdown" class="flex items-center text-white hover:bg-teal-600 p-2 rounded cursor-pointer">
                    <img src="/Users/sofan/Development/frontend/new-adameds/assets/icon/Icons/icon=bpjs-icon.png" class="mr-2" alt="" srcset="">
                  <span v-if="isExpanded" class="transition-opacity duration-300">SEP</span>
                  <!-- <span class="material-icons ml-auto">{{ isSepDropdownOpen ? 'expand_less' : 'expand_more' }}</span> -->
                  <img src="/Users/sofan/Development/frontend/new-adameds/assets/icon/Icons/icon=dropdown.png" class="ml-20" alt="" srcset="">
                </div>
                <ul v-show="isSepDropdownOpen" class="ml-8 mt-2">
                  <li class="mb-2">
                    <nuxt-link to="/sep-option1" class="flex items-center text-white hover:bg-teal-600 p-2 rounded">
                      <span v-if="isExpanded" class="transition-opacity duration-300">Data Pasien</span>
                    </nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/sep-option2" class="flex items-center text-white hover:bg-teal-600 p-2 rounded">
                      <span v-if="isExpanded" class="transition-opacity duration-300">Monitoring Kamar</span>
                    </nuxt-link>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="mt-6">
          <button class="w-full bg-white text-teal-600 p-2 rounded-xl flex items-center justify-center">
            <span class="material-icons">delete</span>
            <span v-if="isExpanded" class="transition-opacity duration-300 ml-2">Stok</span>
          </button>
        </div>
      </aside>
  
      <!-- Mobile Menu Button -->
      <button @click="toggleSidebar" class="fixed top-4 left-4 z-50 lg:hidden bg-teal-500 text-white p-2 rounded">
        <span class="material-icons">menu</span>
      </button>
    </div>
  </template>
  
  <script>
  export default {
    name: 'Sidebar',
    data() {
      return {
        isExpanded: true,
        isSidebarOpen: false,
        isSepDropdownOpen: false,
      };
    },
    methods: {
      toggleSidebar() {
        if (window.innerWidth < 1024) {
          this.isSidebarOpen = !this.isSidebarOpen;
        } else {
          this.isExpanded = !this.isExpanded;
        }
      },
      toggleSepDropdown() {
        this.isSepDropdownOpen = !this.isSepDropdownOpen;
      },
    },
  };
  </script>
  
  <style scoped>
  /* Add any additional styling if necessary */
  </style>
  