<template>
  <div class="min-h-screen flex flex-col bg-gray-100">
    <Header />
    <div class="flex flex-1">
      <Sidebar class="mt-2 mb-2"/>
      <MainContent />
    </div>
    <Footer />
  </div>
</template>

<script>
import Header from '/Users/sofan/Development/frontend/new-adameds/components/Header.vue';
import Sidebar from '/Users/sofan/Development/frontend/new-adameds/components/Sidebar.vue';
import MainContent from '/Users/sofan/Development/frontend/new-adameds/components/MainContent.vue';
import Footer from '/Users/sofan/Development/frontend/new-adameds/components/Footer.vue';

export default {
  name: 'DefaultLayout',
  components: {
    Header,
    Sidebar,
    MainContent,
    Footer,
  },
};
</script>

<style scoped>
/* Add any additional styling if necessary */
</style>
