<template>
    <div>
      <h1 class="text-2xl font-semibold mb-4">Welcome to Rawat Jalan</h1>
      <!-- Add content specific to this page -->
    </div>
  </template>
  
  <script>
  export default {
    name: 'IndexPage',
  };
  </script>
  
  <style scoped>
  /* Add any additional styling if necessary */
  </style>
  